body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #b1b1b1;
}

header {
    background-color: #ff0000;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    font-family: 'Arial', sans-serif;
}

.search-container {
    margin-top: 20px;
    text-align: center;
}

#search-input {
    padding: 10px;
    width: 400px;
    font-size: 16px;
    border: 1px solid #b1b1b1; 
    border-radius: 4px;
}

#search-button {
    padding: 10px 20px;
    background-color: #e32e2e;
    border-radius: 10%;
    border: none;
    color: #ffffff;
    cursor: pointer;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: Bold;
}

#results-container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    display: flex;
    flex-direction: column; 
    align-items: left;
}

.video-card {
    display: flex;
    margin-bottom: 20px;
    padding: 12px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    max-width: 600px;
}

.video-card img {
    width: 210px;
    height: 118px;
    margin-right: 12px;
}
