body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #b1b1b1;
}

header {
    background-color: #ff0000;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    font-family: 'Arial', sans-serif;
}

.search-container {
    margin-top: 20px;
    text-align: center;
}

#search-input {
    padding: 10px;
    width: 400px;
    font-size: 16px;
    border: 1px solid #b1b1b1; 
    border-radius: 4px;
}

#search-button {
    padding: 10px 20px;
    background-color: #e32e2e;
    border-radius: 10%;
    border: none;
    color: #ffffff;
    cursor: pointer;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: Bold;
}

#result-container {
    margin: 30px auto; 
    max-width: 800px;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.video-card {
    margin: 10px 0 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f9f9f9;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
}

.video-card a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s ease;
}

.video-card a:hover {
    color: #ff0000;
}
